@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(8, 14, 17);
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

/* Navigation */
nav {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.logo {
  width: 40px;
}



.skewbox {
  display: flex; /* Use flexbox layout */
}

.main-content {
  flex: 1; /* Take up remaining space */
  padding: 20px; /* Adjust padding as needed */
  text-align: left; /* Ensure content aligns to the left */
}

.shoe {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
}



.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.price {
  font-size: 24px;
}

.shoe {
  width: 100%;
  max-width: 400px;
  height: auto;
  
}

.buy-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  text-decoration: none;
  margin-top: 20px;
}

.buy-button:hover {
  background-color: #0056b3;
}

@media screen and (min-width: 768px) {
  /* Adjustments for tablets and larger screens */
  .main-content {
    padding: 150px 50px;
  }

  .title {
    font-size: 48px;
  }

  .stars {
    font-size: 36px;
  }

  .description {
    font-size: 20px;
  }

  .price {
    font-size: 36px;
  }

  .shoe {
    position: absolute;
    right: 100px;
    top: 100px;
    max-width: none;
    width: 50%;
    height: auto;
  }

  /* .image-box {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(44, 146, 255);
    width: 50%;
    height: 100%;
    clip-path: polygon(8% 0, 100% 0%, 100% 100%, 57% 100%);
  } */
}
